<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ "images/favicon-48x48.png" | relative_url }}">
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ "images/favicon-167x167.png" | relative_url }}">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ "images/favicon-180x180.png" | relative_url }}">
